.movieForm {
  margin-top: 15px;
}

.card {
  margin-top: 15px;
}

.movieRow {
  margin-top: 15px;
}


div.poster {
  margin: 10px;
}

.samllPoster {
  user-select: none;
}

.moviesListCard {
  width: 18rem;
}